<!-- _includes/gallery.html -->
{% assign rows = page.galleries[include.gallery] %}
<div class="gallery">
{% for row in rows %}
    <div>
    {% for img in row %}
        {% if img.title %}
            {% assign title = img.title %}
        {% else %}
            {% assign title = img.caption %}
        {% endif %}
        <figure class="figure-{{ forloop.length }}{% unless forloop.first %} figure-margin{% endunless %}">
            <a href="{{ site.baseurl }}/{{ img.url }}" target="_blank">
                <img src="{{ site.baseurl }}/{{ img.url }}" alt="{{ title | escape }}"/>
            </a>
            {% if img.caption %}
            <figcaption>{{ img.caption }}</figcaption>
            {% endif %}
        </figure>
    </a>
    {% endfor %}
    </div>
{% endfor %}
</div>
